PORT=3000
VERIFY_TOKEN=BumBaDigaDiga
PHONE_NUMBER_ID=1360517213803976
WHATSAPP_TOKEN=EAAMAQzLOhS8BSlPKXH5ZBEvWRMTvYzHDeZBQn0IlzeVsdOg4y2P4fg3ml0G8SNqZCCkgzaeFOubZAzrtqZClxdvKOgOZAON6LVumLd5ZAOS5T7rAvGa6jEVZAyBjBS4qEDZAc7sdSreAivfBO8YuQvIOijK49KprTr5KVK5bCZCshqbrZBef1aS9ddsWJ3yhhtfJTYZCxLQhMCNZBu9OOJ2RVI9NGfibmP3lWAFEtjEd9dpODO41GmB3wp2XxY2fJYkZBAVYiFZC7mqszNMSelAxraY0HaVeXJQ

